<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Lil</string>
	<key>name</key>
	<string>Lil</string>
	<key>uuid</key>
	<string>08550b99-efd5-40f6-a6b6-0b812d0d33e1</string>
</dict>
</plist>
